div.content-main {
    float: left;
    width: 622px;
}
div.dashboard {
    float: right;
}
div.global-nav div.container {
    width: 965px;
}
div#page-container {
    width: 937px;
}
ul.stats a {
    text-transform: none;
    font-size: 12px;
}
