div#timeline {
    float: left;
    width: 622px;
}
div.dashboard {
    float: right;
}
div.global-nav div.container {
    width: 965px;
}
div#page-container {
    width: 937px;
}
ul.stats a {
    text-transform: none;
    font-size: 12px;
}

div.stream-item-header {
    z-index: 10;
}
img.actionPost {
    width: 14px;
    float: right;
    z-index: 20;
    margin-left: 10px;
    cursor: pointer;
}
div#loadingPosts {
    background-color: #ffffff;
    text-align: center;
    border: solid 1px #000000;
    border-width: 0px 1px;
    padding: 10px 0px;
    border-bottom: solid 1px #e8e8e8;
    position: relative;
}
div#loadingPostsLabel {
    position: absolute;
    right: 6px;
    bottom: 1px;
    color: #777777;
    font-weight: bold;
}
img.postImage, video {
    max-width: 500px;
    margin-bottom: 8px;
    display: none;
}
.setStatus {
    cursor: pointer;
}
img#undo {
    float: right;
    height: 24px;
    cursor: pointer;
    display: none;
}
#streamTail {
    height: 10px;
    background-color: #ffffff;
    border: solid 1px #000000;
    border-width: 0px 1px;
    border-radius: 0px 0px 6px 6px;
}

@media screen and (max-width: 960px) {
    div#page-container {
        width: 622px;
        float: left;
    }
    div.dashboard {
        display: none;
    }
}

@media screen and (max-width: 660px) {
    div#page-container {
        width: 100%;
    }
    div#timeline {
        width: 95%;
    }
    div.tweet {
        min-height: 70px;
    }
    img.actionPost {
        width: 50px;
    }
    img.postImage {
        width: 100%;
    }
}
